.g-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.g-container img{
    margin: 5px;
    transition: all 1s;
    /* width: 200px; */
}

.g-container img:hover{
    transform: scale(1.1)
}